body {
    margin: 0;
    padding: 0;
    background-image: url("propertrty1.jpg");
    background-size: 1950px 2000px;
}
/* Flex Property */
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: none;
}
.container div {
    background-color: white;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
  border-style: double;
  border-color: darkgrey;
  border-radius: 20px 0px;
  height: 200px;
  width: 300px;
  border-width: 3px;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
}
/* image */
img {
    height: 50px;
    width: 100px;
    border-radius: 50%;
}
button {
    justify-content: center;
    text-align: center;
    margin-left: 700px;
    background-color: aqua;
    cursor: pointer;
}
button:hover {
    font-size: 40px;
    font-family: cursive;
}

#map {
            height: 400px;
            width: 100%;
            cursor: pointer;
        }

        