body {
    margin: 0;
    padding: 0;
    background-image: url("home\ bg1.jpg");
    background-size: 1950px 1000px;
    
}
/* Vertical navigation bar */
/* ul {
    list-style-type: none;
    margin-top: 46px;
    padding: 0;
    width: 120px;
    background-color: chocolate;
    position: fixed;
    height: 1000%;
    overflow: auto;
}
li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
li.a.active {
    background-color: green;
    color: aliceblue;
}
li a:hover:not(.active) {
    background-color: grey;
    color: black;
} */
/* Horizontal Navigation Bar */
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
ol  li {
    float: left;
}
ol li a{
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ol li a:hover {
    background-color: bisque;
    color: black;
}
.rounded-pill {
    float:inline-start;
    width: 60px;
    height: 45px;
    background-color: chocolate;
}
/* Car content */
h1 {
    color: white;
    text-align: center;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
/* Border-box */
.abc {
    width: 800px;
    height: 650px;
    margin-top: 90px;
    margin-left: 50px;
    /* border-radius: 2px;
    border-style: dashed;
    border-color: darkgrey;
    border-width: 2px; */
    color: white;
    text-align: center;
    font-size: 19px;
}
/* .img {
    width: 100px;
    height: 100px;
    justify-items: center;
} */
h2 {
    color: aqua;
    text-align: center;
}
/* Slideshow Gallery */
* {
    box-sizing: border-box;
}
img {
    vertical-align: middle;
    width: 700px;
    height: 400px;
    justify-items: center;
}
.container {
    position: relative;
}
.mySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    /* margin-top: -50px; */
    margin-left: 3px;
    
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
/* Next button in right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* number text */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

}
/* container fo image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: whitesmoke;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* six column side by side */
.column {
    float: left;
    width: 16.66%;
}
/* transparency */
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}